<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Reset password</title>
</head>
<body>
	<div>
		<h1 th:text="${'Hello ' + account.getUsername()}"></h1>
	</div>
	<div>Thanks for using our service! You have reset your password! This is your new password!</div>
	<div>
		<h2>Use this password to sign-in and change your new password!</h2>
	</div>
	<div>
		<h1 th:text="${account.getPassword()}"></h1>
	</div>
</body>
</html>